.component {
  cursor: default;
  display: flex;
  width: 100%;
  padding: var(--gap-md) var(--gap-main) var(--gap-main);
  border-radius: var(--radius-lg);
  transition: box-shadow 0.3ms ease-in-out;
  box-shadow: var(--shadow);

  &:hover {
    box-shadow: var(--shadow-hover);
  }
}

.shadow {
  // box-shadow: 0px 5px 20px 5px rgba(212, 212, 212, 0.3);
}

.cursor {
  cursor: pointer;
}

.img {
  border-radius: inherit;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  top: 0; 
  left: 0;
}
