.container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
}

.titleInput {
  margin-bottom: 24px;
  width: 100%;
  height: 50px;
  padding: var(--gap-sm) var(--gap-md);
  border-radius: var(--radius-main);
  font-size: var(--fs-xl);
  font-weight: bold;

  border: none;
  outline: none;

  &::placeholder {
    font-size: var(--fs-xxl);
    opacity: 0.7;
  }
}

.textArea {
  font-size: var(--fs-main);
  padding: var(--gap-sm);
  border: 1px solid #ccc;
  border-radius: var(--radius-main);
  width: 100%;

  min-height: 400px;
  resize: vertical;

  border: none;
  outline: none;

  &::placeholder {
    font-size: var(--fs-lg);
  }
}

.fileLabel {
  display: inline-block;
  width: fit-content;
  padding: var(--gap-xs) var(--gap-md);
  border-radius: var(--radius-main);
  border: 1px solid var(--dark);
  background-color: var(--light);
  color: var(--dark);
  font-size: var(--fs-sm);
  cursor: pointer;
  transition: 0.3s;
  text-align: center;

  &:hover {
    background-color: #dcdcdc;
  }
}

.fileInput {
  display: none;
}

.previewWrapper {
  position: relative;
  display: inline-block;
  margin-top: var(--gap-sm);
}

.preview {
  max-width: 150px;
  height: auto;
  border-radius: var(--radius-main);
  box-shadow: var(--shadow);
}

.removeButton {
  position: absolute;
  top: -10px;
  left: 130px;
  background: white;
  color: rgb(3, 3, 3);
  border: none;
  border-radius: var(--circle);
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: var(--shadow);

  &:hover {
    box-shadow: var(--shadow-hover-btn);
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: var(--gap-main);
}

.button {
  padding: var(--gap-sm) var(--gap-main);
  border: none;
  border-radius: var(--radius-main);
  background-color: var(--dark);
  color: var(--light);
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: #333;
  }
}
