.app {
  display: grid;
  margin: var(--gap-xl) 0;
  font-family: "Nunito", sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon {
  font-size: var(--fs-lg);
}
