.title {
  padding: 0 0 0 var(--gap-sm);
  cursor: default;
  margin: 0;

  &.center {
    text-align: center;
  }
}

h1.title {
  font-size: var(--fs-xxl);
}

h2.title {
  font-size: var(--fs-xl);
}

h3.title {
  font-size: var(--fs-lg);
}

h4.title {
  font-size: var(--fs-main);
}