.card {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  position: relative;
  // box-shadow: 0px 5px 20px 5px rgba(133, 120, 120, 0.3);

  .textContent {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: var(--light);
  text-shadow: var(--text-shadow);
}

  &:hover {
    transform: box-shadow;
  }
}

.img {
  border-radius: inherit;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  top: 0; 
  left: 0;
}


