.navbar {
  margin: var(--gap-xxl) 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.event {
  cursor: pointer;
}

.icon {
  font-size: var(--fs-lg);
}

a {
  color: black;
}

.button {
  display: flex;
  justify-content: right;
  align-items: center;
}